<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Título por defecto {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    
    <header>

        <nav class="navbar">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('añadir_producto') }}">Añadir Producto</a>
            <a href="{{ url_for('lista_productos') }}">Lista Productos</a>
            <a href="{{ url_for('registro_usuario') }}">Registrar Usuario</a>
            <a href="{{ url_for('lista_usuarios') }}">Lista Usuarios</a>
        </nav>

        {% block h1 %} <h1>Título página </h1> {% endblock %}
    </header>

    <main>
        {% block contenido %} 
        Contenido por defecto.
        {% endblock %}
    </main>

    <footer>
        <br>
        &copy; Mohamed Kadi Brikoui - Todos los derechos reservados.
    </footer>

</body>
</html>