{% extends "base.html" %}

{% block titulo %}
Lista Usuarios
{% endblock %}

{% block h1 %}
<h1>Listado Clientes</h1>
{% endblock %}

{% block contenido %}
<div class="grid-container">
    <div class="card">
        <h2>Clientes Registrados</h2><hr>
        <ul>
            {% for cliente in clientes %}
                <li>
                    <strong>Nombre: </strong> {{cliente["nombre"]}}
                    <ul>
                        <li><strong>Email:</strong> {{cliente["email"]}}</li>
                        <li><strong>Estado:</strong> {{"Activo" if cliente["activo"] else "Inactivo" }}</li>
                        <li><strong>Pedidos:</strong> {{cliente["pedidos"] if cliente["pedidos"] else "No tiene ningún pedido"}}</li>
                        <li><img src="{{cliente['img']}}" alt="Foto de perfil {{cliente['nombre']}}"></li>
                    </ul>
                </li>
            {% endfor %}

            <li>
                Ahora mismo hay <strong>{{activos}} clientes</strong> activos!
            </li>
            <li>
                <strong>{{cliente_max_pedidos}}</strong> es el cliente con mayor número de pedidos!
            </li>
        </ul>
    </div>
</div>
{% endblock %}